:root {
    --primary-green: rgba(104, 163, 0, .7);
}

html {

}
body {
    background-color: var(--primary-green);
}

.container, .container-fluid{
    background-color: white;
    min-height:100vh !important;
    padding-top:30px;
}
.badge {
    height:50px;
    width:50px;
}

.mainColor {
    color:#6CBF00;
}
.secondaryColor {
    color:#EBB500;
}

