body {overflow: hidden;}
.sidenav {height: 100%; width: 190px; position: fixed; z-index: 1; top: 0; left: 0; background-color: #6CBF00; overflow-x: hidden; padding-top: 20px;}
.sidenav a {padding: 6px 8px 6px 16px; text-decoration: none; font-size: 25px; color: white; display: block; font-family: Fjalla One;}
.sidenav a:hover {color: #f1f1f1;}
.main {margin-left: 160px; /* Same as the width of the sidenav */ font-size: 28px; /* Increased text to enable scrolling */ padding: 0px 10px;}
@media screen and (max-height: 450px) {.sidenav {padding-top: 15px;} .sidenav a {font-size: 18px;}}
#list-home-list {background-color: #6CBF00; border-color: #6CBF00}
#list-profile-list {background-color: #6CBF00; border-color: #6CBF00}
#list-messages-list {background-color: #6CBF00; border-color: #6CBF00}
#list-settings-list {background-color: #6CBF00; border-color: #6CBF00}
.top-row {background-color: #6CBF00; color: white;}
.number-list {background-color: #6CBF00; color: white;}